@using CustomerData.Models

@{
    var customer = ViewData["Customer"] as CustomerEntity;
}

<p>@Html.ActionLink("Return to List", "Index")</p>
<h2>Customer Details</h2>
<p>
    Id: @customer.Id
</p>
<p>
    Fist Name: @customer.FirstName
</p>
<p>
    Last Name: @customer.LastName
</p>
<p>
    Address: @customer.Address
</p>
<p>
    Phone: @customer.Phone
</p>